@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=Questrial&display=swap');
.Results{
    min-height: 90vh;
    background-color: white;
    padding: 40px 100px ;
    font-family: 'Exo 2';
}
.containers, .download{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    min-width: 20vw;
    min-height: auto;
    max-width: 50vw;
    max-height: 100vh;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0px -2px 41px -15px rgba(0,0,0,0.75);
}


#eigen-slider{
    width: 30vw;
}

.slider-container{
    display: inline-block;
}

.left-p{
    float: left;
}

.right-p{
    float: right;
}

.scale, .iter{
    border-radius: 20px;
    min-height: 20px;
    min-width: 30vw;
    max-width: 30vw;
    padding: 10px;
    background-color: #dadada;
    border: 3px solid #dadada;
    font-size: 20px;
    font-family: 'Questrial'
}

.download-button{
    width: 170px;
}

.results-div{
    margin-top: 50px;
}

.expository-paragraph{
    max-width: 30vw;
    color: rgb(124, 124, 124);
}


.scale-input{
    min-width: 30vw;
}

.footer{
    background-color: #0e141f;
    min-width: 98vw;
    padding: 5vh 0.25vw;
    margin-bottom: -6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    color: white;
}

#alpha-checkbox{
    transform: scale(2);
}

.alpha-layer{
    margin-top: 30px
}

@keyframes dots {
    0%, 20% {
      color: rgba(0,0,0,0);
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    40% {
      color: black;
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    60% {
      text-shadow:
        .25em 0 0 black,
        .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
      text-shadow:
        .25em 0 0 black,
        .5em 0 0 black;}}

@media screen and (max-width: 1000px){
    .Results{
        padding: 10px;
        min-width: 90vw;
    }
    .slider-container, .scale-input, .iter-input{
        min-width: 85vw;
    }
    #eigen-slider{
        min-width: 90vw;
    }
    .expository-paragraph{
        min-width: 90vw;
        font-size: 12px;
        text-align: justify;
    }
    
    .alpha-layer label{
        text-align: center;
    }
    .scale, .iter{
        min-width: 85vw;
        border-radius: 10px;
    }

    .container{
        min-width: 20vw;
        min-height: auto;
        max-width: 50vw;
        max-height: 40vh;
        border-radius: 20px;
        padding: 5px;
        background-color: #dadada;
        margin-bottom: 20px;
    }
    #results-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #results-div .expository-paragraph{
        text-align: center;
        font-size: 12px;
        
    }

}
.loading-text{
    font-size: 30px;
}
.loading-text:after{
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}

